//---
// Only the main Sass file needs front matter (the dashes are enough)
//---

@charset "utf-8";

  /*
     Comments - Let's see if THESE override the scss partials...
     ========================================================================== */
  
     .page__comments {
      float: left;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      clear: both;
    }
    
    .page__comments-title {
      margin-top: 1rem;
      margin-bottom: 5px;
      padding-top: 1rem;
      font-size: $type-size-6;
      border-top: 1px solid $border-color;
      text-transform: uppercase;
    }
    
    .page__comments-form {
      -webkit-transition: $global-transition;
      transition: $global-transition;
    
      &.disabled {
        input,
        button,
        textarea,
        label {
          pointer-events: none;
          cursor: not-allowed;
          filter: alpha(opacity=65);
          box-shadow: none;
          opacity: 0.65;
        }
      }
    }
    
    .comment {
      @include clearfix();
      margin: 1em 0;
    
      &:not(:last-child) {
        border-bottom: 1px solid $border-color;
      }
    }
    
    .comment__avatar-wrapper {
      float: left;
      width: 0px;
      height: 0px;
    
      @include breakpoint($large) {
        width: 0px;
        height: 0px;
      }
    }
    
    .comment__avatar {
      width: 0px;
      height: 0px;
      border-radius: 50%;
    
      @include breakpoint($large) {
        width: 0px;
        height: 0px;
        padding: 0px;
        //border: 0px solid $border-color;
      }
    }
    
    .comment__content-wrapper {
      float: left;
      width: 100%;
    
      @include breakpoint($large) {
        width: 100%;
      }
    }
    
    .comment__author {
      margin: 0;
    
      a {
        text-decoration: none;
      }
    }
    
    .comment__date {
      @extend .page__meta;
      margin: 0;
    
      a {
        text-decoration: none;
      }
    }

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials